.note-wrapper {
  width: max-content;
}
.note-container {
  width: max-content;
  position: relative;
}
.note-container > textarea {
  background-color: #f1c75b;
  padding-top: 4rem;
  overflow: auto;
  border-radius: 20px;
  border: none;
  scrollbar-face-color: #ff8c00;
  scrollbar-track-color: #fff8dc;
  scrollbar-arrow-color: #ffffff;
  scrollbar-highlight-color: #fff8dc;
  scrollbar-shadow-color: #d2691e;
  scrollbar-3dlight-color: #ffebcd;
  scrollbar-darkshadow-color: #8b0000;
}
textarea::-webkit-scrollbar {
  width: 1rem;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #a28d59;
  outline: 1px solid slategrey;
  border-radius: 20px;
  border: none;
}
.note-container > label {
  position: absolute;
  color: black;
  font-weight: bold;
  left: 5rem;
  font-size: 1.8rem;
}
